<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SES S3 Inbox</title>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-full">
        <a class="navbar-brand">SES S3 Inbox</a>
    </div>
</nav>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>


<div id="content" class="container">{% block content %}{% endblock %}</div>
</body>
</html>